*{
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
 
}

/*header*/
:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin-top: auto;
  padding: 0;
}
.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}
#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}
.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  cursor: none;
}
.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}
.navbar-link {
  justify-content:center;
  width: 80%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}
.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}
.navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.navbar-links a:hover{
  cursor: pointer;
  transform-style: 3s;
  color: #9b3a67;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

/*sectiom*/
section .home-image{
  height: 40%;
  margin: 0;
 
}
ul{
  list-style: none;
}
.product-cart{
    padding: 80px;
    background-color: #fcf6ec;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}
.burger-items img{
  width: 350px;
  height: 250px;
    border-radius: 40px;
}
.bk-dish-card__submit button{
  background: #9b3a67;
  border-radius: 20px;
  color: #f5ebdc;
  font-size: 16px;
  line-height: 140%;
  padding: 9px 24px;
  font-weight: 500;
  display: block;
  width: 110px;
  margin-top: 15px;
  cursor: pointer;
  }

.bk-dish-card__controls{
  flex-wrap: wrap;
}
/*section end*/



/*footer*/
footer{
  background-color: bla;
  text-decoration: none;
  margin-left: 10px
}
footer li{
  margin-bottom: 5px;
}
.row{
  display: flex;
  justify-content: space-around;
}
.list-unstyled{
  margin: 0;
  padding: 0;
}
.footer{
  background-color:hsl(0, 0%, 15%);
  width: 100%;
  padding: 25px;

}
.footer h4{
  color: #ccc;
  text-transform: uppercase;
  font-style: 16px;
  padding-bottom: 3px;
  border-bottom: 1px solid #666;
}
.footer a{
  text-decoration: none;
  transition: all .3s;
}
.footer a:hover{
  color: #fff;
  text-decoration: underline;
}
.footer a, .footer li{
  color: #c8c8c8;
}
footer-icon{
  display: inline-block;
  margin-right: 20PX;
  font-size: 20PX;
}

@media(main-width: 1200px){
 
}
@media(main-width: 998px){
 

}
@media(main-width: 768px){
.burger-liste1 {
    padding-bottom: 18px;
}

}
@media(main-width: 576px){

}
@media(main-width: 1200px){

}
@media (min-width: 375px), (max-width: 767px) and (orientation: landscape){
.product-cart {
    flex-wrap: wrap;
  }

}